* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    /* font-weight: 1600px;
    font-size: 808px; */
    background-position: bottom right, left;
}

.banner {
    /* display: flex;
    align-items: center;
    margin: 0 200px;
    font-weight: 700;
    font-size: 35px; */
    width: 40%;
    margin-left: 50%;
    padding-left: 2%;
    margin-bottom: -150px;
}

.banner-sub {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right
}

.banner-description {
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-left: 65%;
}

/* About Section */

.about-container {
    display: flex;
    gap: 87px;
    align-items: center;
    margin-left: 206px;
    margin-right: 322px;

}

.about-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.about-subtitile {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.about-list {
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
    color: #444343;

}