* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header style */

.header {
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;

}

.banner {

    height: 808px;
    margin: 0px 200px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 130px;
}

.banner-sub {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;

}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-left: 80%;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* About Section */

.about-container {
    display: flex;
    gap: 87px;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 130px;

}

.about-title {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.about-subtitile {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.about-list {
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
    color: #444343;
}

/* My Plans Section */

/* .plans-section {
    width: 1141px;
    height: 299.96px;
} */

.my-plan-title {
    text-align: center;
    margin: 50px;
    font-weight: 700;
    font-size: 35px;
}

.plans-container {
    display: flex;
}

.plans {
    background: #FFFFFF;
    padding: 30px;
    margin-left: 75px;
}

.plans-title {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plans-description {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Footer Section */
.footer {
    margin-top: 130px;
    display: flex;
    background-color: black;
    gap: 100px;
    padding: 130px 200px;
}

.footer-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 20px;
    line-height: 53px;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.mail{
    color: #FFFFFF;
    margin-bottom: 10px;
}
.phone{
    color: #FFFFFF;
    margin-bottom: 35px;
}
.btn-secondary {
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
.footer input[type="email"]{
    margin-bottom: 24px;
    color: #F8F8F8;
    width: 100%;
    padding: 18px 30px;
    background-color: black;
}
.footer a{
    text-decoration: none;
}